@font-face {
	font-family: 'MarioFont';
	src: url('../fonts/MarioFont.ttf');
}

.attackButton {
	height: 65px;
	font-size: 20pt;
	width: 140px;
}

.attackButton:hover {
	border: 6px solid #ff0000;
}

body {
	background-image: url('../images/Background.jpg');
	background-repeat: no-repeat;
	color: #F7D014;
	font-family: MarioFont;
	font-size: 14pt;
}

button {
	background-color: #001d46;
	border: 3px solid #0000ff;
	color: #F7D014;
	font-family: Mariofont;
}

.characterButton {
	height: 90px;
	margin: 0px 5px;
	width: 115px;
}

.characterImage {
	height: 50px;
	width: 50px;
}

#characterSelection .characterButton:hover {
	border: 5px solid #ff0000;
}

.colorBlue {
	color: #15A7D9;
}

.colorGreen {
	color: #5DB84E;
}

.colorRed {
	color:#E33E29;
}

.colorYellow {
	color: #F7D014;
}

#enemies .characterButton:hover {
	border: 5px solid #ff0000;
}

.floatLeft {
	float:left;
}

footer {
	bottom: 0px;
	color: #F7D014;
	font-size: 10pt;
	left: 720px;
	position: fixed;
}

header {
	float: left;
	font-size: 45pt;
	left: 590px;
	position: absolute;
	text-shadow: 5px 0 0 #000, 0 -5px 0 #000, 0 5px 0 #000, -5px 0 0 #000;
}

.headerImage {
		height: 200px;
		width: 400px;
}

h1 {
	font-size: 18pt;
}

.restartButton {
	height: 50px;
	font-size: 16pt;
	width: 140px;
}

.restartButton:hover {
	border: 6px solid #ff0000;
}

.resultLoss {
	color: #590a00;
	font-size: 28pt;
}

.resultWin {
	color: #00e927;
	font-size: 28pt;
}

.rpg {
	left: 141px;
	position: relative;
}

.wrapper {
	left: 15px;
	position: absolute;
	top: 15px;
}